{% extends "base.html"%}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Make a Post</h1>

<form method="POST">
  <textarea name="text" id="text" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-lg btn-primary">Post</button>
  </div>
</form>
<br />
<div align="center">
  <a href="/home"
    ><button type="button" class="btn btn-lg btn-secondary">Back</button></a>
</div>
{% endblock %}