{% extends "base.html"%}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
<h3 align="center">Login</h3>
<div class="form-group">
    <label for="email">Email Address</label>
    <input 
        type="text"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email"
    />
    <label for="password">Password</label>
    <input 
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Enter password"
    />
    <br>
    <div align="center">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</div>
</form>

{% endblock %}