{% extends "posts_div.html" %} {% block title %}{{username}}'s Posts{% endblock
    %} {% block header %} {{username}}'s posts {% endblock %} {% block footer %}
    <div align="center">
      <a href="/home"
        ><button type="button" class="btn btn-primary btn-lg">Back</button></a>
    </div>
    {% endblock %}